.nav-link, .navbar-brand{
    color: white!important;
    font-size: 16px;
}

.navbar-brand{
    font-size: 32px;
    display: flex;
}

header{
    background: #27b774b3;
}

header a{
    text-decoration: none;
    color:inherit;
}

.navbar-brand img{
    fill: white;
    margin-right: 2%;
    width:32px
}

#plantao{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0.5% 0%;
    align-items: center;
}
#navbarNavDropdown{
    justify-content: flex-end;
}

#destaque{
    padding: 3% 0%;
}

#destaque img{
    width:100%
}

#txt_home {
    width: 60%;
    padding-top: 5%;
}
#txt_home p:first-of-type{
    padding-top: 5%;
}

#head_img{
    animation: trocar 6s infinite;
}

#index_news{
    padding: 10% 20% 5%;
}
#index_news h2{
    text-align: center;
}
#index_news img{
    width: 100%;
    max-width: 800px;
}

footer{
    padding: 2% 5%;
    text-align: center;
    background-color: #198754;
    color: white;
}

@keyframes trocar {
    0% {
        background-image: url(/assets/img/dog-head.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    60% {
        background-image: url(/assets/img/cato-head.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    99.99% {
        background-image: url(/assets/img/dog-head.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}

@media(max-width:600px) {
    
    #txt_home{
        width: 100%;
    }

    #destaque{
        padding: 5% 0%;
    }

    #head_img{
        animation: none;
    }

    #index_news{
        padding: 10% 10%;
    }
}