.nav-link, .navbar-brand{
    color: white!important;
    font-size: 16px;
}

.navbar-brand{
    font-size: 32px;
    display: flex;
}

header{
    background: #27b774b3;
}

header a{
    text-decoration: none;
    color:inherit;
}

.navbar-brand img{
    fill: white;
    margin-right: 2%;
    width:32px
}

#plantao{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0.5% 0%;
    align-items: center;
}
#navbarNavDropdown{
    justify-content: flex-end;
}

#destaque{
    padding: 3% 0%;
}

#destaque img{
    width:100%
}

#txt_home {
    width: 60%;
    padding-top: 5%;
}
#txt_home p:first-of-type{
    padding-top: 5%;
}

#head_img{
    animation: trocar 6s infinite;
}

#index_news{
    padding: 10% 20% 5%;
}
#index_news h2{
    text-align: center;
}
#index_news img{
    width: 100%;
    max-width: 800px;
}

#quem_samus h1{
    text-align: center;
    padding-top: 5%;
}
#quem_samus .row{
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding:  2% 0%;
}
#quem_samus .row div:first-child{
    width: 30%;
    padding: 5% 3%;
}
#quem_samus .row div:nth-child(2){
    width: 70%;
    text-align: center;
}
#quem_samus .row div:nth-child(2) img{
    width: 100%;
    max-width: 589px;
    border-radius: 10px;
    padding: 3% 0% ;
}

#quem_samus{
    padding-bottom: 2%;
}

#quem_samus #tres_pilares{
    align-items: stretch;
}

#quem_samus #tres_pilares div{
    width: 30%;
    padding: 3% 2%;
    background: #198754;
    border-radius: 10px;
    color: #fff;
    margin: 4% 0%;
}

#quem_samus #tres_pilares div h3{
    text-align: center;
    padding-bottom: 4%;
}

.formAgen{
    width: 50%;
}

#sintomas{
    width: 100%;
    aspect-ratio: 16/2;
}

footer{
    padding: 2% 5%;
    text-align: center;
    background-color: #198754;
    color: white;
}

@keyframes trocar {
    0% {
        /* para XAMP usar o diretorio da pasta, caso use Liveserver USAR ESTE*/
        /* background-image: url(/assets/img/dogHead.jpg);  */
        background-image: url(/projeto_html/assets/img/dogHead.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    60% {
        /* para XAMP usar o diretorio da pasta, caso use Liveserver USAR ESTE*/
        /* background-image: url(/assets/img/catoHead.jpg);  */
        background-image: url(/projeto_html/assets/img/catoHead.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    99.99% {
        /* para XAMP usar o diretorio da pasta, caso use Liveserver USAR ESTE */
        /* background-image: url(/assets/img/dogHead.jpg); */
        background-image: url(/projeto_html/assets/img/dogHead.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
}

@media(max-width:600px) {
    
    #txt_home{
        width: 100%;
    }

    #destaque{
        padding: 5% 0%;
    }

    #head_img{
        animation: none;
    }

    #index_news{
        padding: 10% 10%;
    }

    #quem_samus .row{
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    
    #quem_samus .row div:first-child{
        width: 85%;
    }
    #quem_samus .row div:nth-child(2){
        width: 85%;
    }

    #quem_samus #tres_pilares{
        align-items: center;
    }

    #quem_samus #tres_pilares div{
        width: 80%;
        padding: 3% 2%;
        background: #198754;
        border-radius: 10px;
        color: #fff;
    }
}